<header class='header-row'>
  <h2 class='col-xs-4'>Music Concert Network</h2>
  <nav class='header-nav'>
  <ul class='list-inline'>
    <li><a href="/">Home</a></li>
    <li><a href="/concerts">All concerts</a></li>
    <li><a href="/popular">Popular concerts</a></li>
    <li><a href="/search">Search</a></li>
    <li><a href="/concerts/new">New concert</a></li>
  </ul>
  </nav>
</header>