<section class='col-xs-8'>
<h2>Concerts</h2>

<ul>

<% @concerts.each do |concert| %>
  <li><%= link_to("#{concert.band},  #{concert.date.strftime("%d-%m-%y")} ", concert_path(concert.id)) %></li>
<% end %>

</ul>

</section>