<h2>Popular concerts</h2>

<ul>

<% @selected_concerts.each do |concert| %>
  <li><%= link_to("#{concert.band},  #{concert.date.strftime("%d-%m-%y")} ", concert_path(concert.id)) %></li>
<% end %>

</ul>
